@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-950 text-slate-100 font-body min-h-screen flex flex-col selection:bg-blue-500 selection:text-slate-950;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-panel {
    background: rgba(21, 32, 49, 0.6);
    backdrop-filter: blur(24px);
}
